<!DOCTYPE html>
<html lang="en">
<head>
    @using Microsoft.AspNetCore.Http;
    @using System.Text.Json;

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Super CAO Select</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- fevicon -->
    <link rel="icon" href="~/img/fevicon.png" type="image/gif" />
    <!-- style css -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Tweaks for older IEs-->

    <!--JQuery-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    @{ String user = Context.Session.GetString("admin"); }
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/SuperCAOSelectLogo.png" alt="Website logo" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/ViewCourses">View Courses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Recommendation">Find your Recommended Course</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Psychometric">Career Interest</a>
                        </li>

                        @if (user == null)
                        {

                            <li class="nav-item dropdown text-black">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Admin Log-In/Sign-Up
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="/Admin/Register">Register</a>
                                    <a class="dropdown-item" href="/Admin">Login</a>

                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                
                            </li>

                            <li class="nav-item dropdown text-black">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Admin Options
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="/Admin/ViewCourses">Register</a>
                                    <a class="dropdown-item" href="/Home/Logout">Logout</a>

                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--  footer -->
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - CAOSelect - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <!-- end footer -->
    
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/jquery-3.0.0.min.js"></script>
    <script src="~/js/plugin.js"></script>
    <!-- sidebar -->
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
    </html>
