@{
    ViewData["Title"] = "Home Page";
}

<!--https://www.free-css.com/free-css-templates/page263/mind -->
<section class="slider_section">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">

                <div class="container-fluid padding_dd">
                    <div class="carousel-caption">
                        <div class="row">
                            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                                <div class="text-bg">
                                    <h1>Search your Courses here</h1>

                                    <a href="/ViewCourses">Read more</a>
                                </div>
                            </div>
                            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                                <div class="images_box">
                                    <figure><img src="img/Study1.jpg"></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">

                <div class="container-fluid padding_dd">
                    <div class="carousel-caption">
                        <div class="row">
                            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                                <div class="text-bg">
                                    <h1>Find a course for you</h1>

                                    <a href="/Recommendation">Let's Go!</a>
                                </div>
                            </div>
                            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                                <div class="images_box">
                                    <figure><img src="img/Study2.jpg"></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="carousel-item">

                <div class="container-fluid padding_dd">
                    <div class="carousel-caption ">
                        <div class="row">
                            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                                <div class="text-bg">
                                    <h1>What Career Suits You?</h1>

                                    <a href="/Psychometric">Find Out</a>
                                </div>
                            </div>
                            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                                <div class="images_box">
                                    <figure><img src="img/Career1.jpg"></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</section>


<!-- about  -->
<div id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="about-box">
                    <h2>About <strong class="yellow">Our Product</strong></h2>
                    <p>
                        Super CAO Select was created to reduce the stress and uncertainty currently placed on Leaving
                        Certificate students regarding the college course/job direction they wish to go down. Super CAO Select creates an interactive and useful solution to solve this problem. Like dating apps, Super CAO Select asks users to swipe yes or no on courses that they like.
                    </p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="about-box">
                    <figure><img src="img/about.jpg" alt="#" /></figure>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- end abouts -->
<!-- our -->
<div id="important" class="important">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Some <strong class="yellow">important facts</strong></h2>
                    <span>
                        Super CAO Select is the one stop shop for CAO Course Recommendation. It's formula takes into account whether you like or dislike the course
                        and also illustrates similar courses to thst recommended
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="important_bg">
        <div class="container">
            <div class="row">

                <div class="col col-xs-12">
                    <div class="important_box">
                        <h3>2000+</h3>
                        <span>Courses</span>
                    </div>
                </div>
                <div class="col col-xs-12">
                    <div class="important_box">
                        <h3>15+</h3>
                        <span>Colleges</span>
                    </div>
                </div>
                <div class="col col-xs-12">
                    <div class="important_box">
                        <h3>1</h3>
                        <span>Country</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end our -->
