@{
    ViewData["Title"] = "Home Page";
}


<table>
    <tr>
        <td><b>Course ID</b></td>
        <td><b>Course Name</b></td>
        <td><b>Level</b></td>
    </tr>
    @foreach(var item in ViewBag.courses){
    <tr>
        <td>@item.CourseID</td>
        <td>@item.CourseName</td>
        <td>@item.Level</td>
    </tr>
    }
</table>

