@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!--https://getbootstrap.com/docs/4.0/components/modal/-->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
</button>

@foreach (var c in ViewBag.Courses)
{

    <!-- Modal or popup for each seperate course-->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">@c.CourseID</h5>
                    <p class="modal-body">@c.CourseName</p>
                    <p class="modal-body">@c.CourseDescription</p>
                    <p class="modal-body">@c.Level</p>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-info">Yes</button>
                </div>
            </div>
        </div>
    </div>
}