@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Recommendation";
}

<div class="container">
    <h3>Find the correct course for you</h3>
    <p>Welcome to our software to try caluclate the best college course for you based on your 
    subjects, choices and personality. We will give you a unique view on the correct course for you!
    </p>

    <a href="/Recommendation/AddSubjects" class="btn btn-success">Get Started</a>

</div>
